.sidebar{
    width: 400px;
    background-color: #E3E5E8;
    margin-top: 400px;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
   
}

ul{
    padding: 0px;
}

li{
    
    list-style: none;
    font-size: 20px;
}

.btn-sidebar{
    color: black;
    position: sticky;
    top:80;
}

