.upload-div{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
   /* This ensures the div is centered vertically on the page */
    margin: 0;
}
label{
    padding: 5px;
}


.p-field{
    display: 'flex';
    flex-direction: 'column';
    width:350px;
    padding:0px;
    margin: 0px;
}



